
/*  http://www.intimateweddings.com/blog/five-color-palettes-cobalt-blue/  */
/* Title Font:

http://www.dafont.com/xperia.font?text=tuveda&fpp=100&psize=l

Possible Sub Font

http://www.dafont.com/zekton.font?text=What+We+Do+Here&fpp=100&psize=xs

KEY Color: 0A46F9; ---> http://paletton.com/

*/

h1 {
	text-align: center;
}

/* navbar */
.navbar {
	background-color: #02DAF8;
	/*background: -webkit-linear-gradient(left, #05E0FF, #0A45F9);*/
	
}

/* navbar right buttons*/
.nav.navbar-nav.navbar-right a{
	color: white;
}

.nav.navbar-nav.navbar-right li a:hover{
	color: lightgrey;
	background-color: #0A45F9;

}

#title{
	color: white;
}

#title:hover{
	color: #0A45F9;
}

/*Child container in main*/

#childContainer{
	/*position: relative;*/
	/*height: 100%;*/
	display: flex;
 	justify-content: center;
  	align-items: center;
}

/* landing page*/

.titleRow{
	/*height: 100%;*/
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}	

#landingTitle{
	/*color: #FFAE00;*/

    background: -webkit-linear-gradient(right bottom, #02DAF8, #0A45F9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

	font-weight: bold;
	font-size: 6em;
}

#subTitle{
	color: grey;
}

/* Team Page */
#profileRow{
	/*margin-top: 3em;*/
}

.profileBox{
	text-align: center;
}

.profilePic{
	width: 10em;
	height: 10em;
	border-radius: 10em;
	margin: auto;
	display: block;
}

/* Project Page*/
#projectRow{
	/*margin-top: 3em;*/
	text-align: center;
}

#leftProject {
  border-right: 1px solid lightgrey;
}

.screenShot{
	width: 20em;
	height: 20em;
	border-radius: 2em;
	margin: auto;
	display: block;
}

.technologies{
	list-style-type: none;
}
