
/*  http://www.intimateweddings.com/blog/five-color-palettes-cobalt-blue/  */
/* Title Font:

http://www.dafont.com/xperia.font?text=tuveda&fpp=100&psize=l

Possible Sub Font

http://www.dafont.com/zekton.font?text=What+We+Do+Here&fpp=100&psize=xs

*/
.navbar{
	background-color: #054593;
}

.nav.navbar-nav.navbar-right a{
	color: white;
}

.nav.navbar-nav.navbar-right li a:hover{
	color: white;
	background-color: #54DADA;
}

h1 {
	text-align: center;
}

.profBox{
	text-align: center;
}

.profPic{
	width: 10em;
	height: 10em;
	border-radius: 10em;
	margin: auto;
	display: block;
}